<%include partials/header%>



<div class="container main ">
<div class="row"></div>
<div class="col-lg-4 col-md-3"></div>
<div class="col-md-6 col-lg-4">
<form action="/resource" method="POST" class="form">

	<div class="input-group ">
		<input type="text" class="form-control long-input" placeholder="Name">
	</div>
	<div class="input-group ">
		<input type="text" class="form-control long-input" placeholder="URL">
	</div>
	<div class="input-group ">
		<input type="text" class="form-control long-input" placeholder="topic">
	</div>
	<div class="input-group ">
		<input type="text" class="form-control long-input" placeholder="Description">
	</div>
	<div>
		
			<input type="submit" value="Submit">

	</div>

	
</div>
</form>
</div>
<div class="col-lg-4 col-md-3"></div>

</div>
<%include partials/footer%>